<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<!--
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    <script crossorigin src="https://unpkg.com/react@17/umd/react.development.js" defer></script>
    <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" defer></script>
    <script type="text/babel">
        /*
        //MY REACT CODE HERE!!!
        function DrawPainting(painting)
        {
            return <div><p>{painting.name}</p><p>{painting.author}</p></div>
        }
        const name = 'Maxim'
        const painting_names = ['a', 'b', 'c']
        const listOfPictures = 
        <div>
        <ul>
            {painting_names.map((item, key) => <li key={key}>{item}</li>)}
        </ul>
        </div>
        ReactDOM.render(<DrawPainting name = {painting_names[0]} author = "author1"/>, document.querySelector('#app'))
        */
    </script>
-->
    <style>
        /*
        body 
        {
            margin: 0;
            padding: 0;
        }
        */
        #change-mode
        {
            width: 100%;
            display: flex;
            justify-content: center;
        }
        #searchbar
        {
            width: 97%;
            padding: 0.5%;
            margin: 1% 1% 0.1% 1%;
        }
        .search-res
        {
            display:flex;
            align-items: center;
            width: 100%;
            margin-top: 3px;
            margin-bottom: 3px;
            background-color: antiquewhite;
        }
        .search-pic
        {
            float: left;
            width: 14%;
            padding: 0% 5% 0% 1%;
            margin: 0;
        }
        .search-desc
        {
            float: left;
            width: 80%;
            height: 100%;
            margin: 0;
            display: table-cell;
            vertical-align: middle;
        }
    </style>

    <script>

        var searchingPaintings = true;

        async function search()
        {
            if(searchingPaintings)
            {
                fetch_paintings();
            }            
            else
            {
                fetch_authors();
            }
        }

        async function fetch_paintings() {
            var node = document.getElementById('paintings-placeholder');
            const query = document.getElementById("searchbar").value
            if(query == "")
            {
                node.innerHTML = ''
                return
            }
            const responce = await fetch(`http://localhost:8080/paintings_${query}`)
            if (!responce.ok)
            {
                //check for errors later
                node.innerHTML = ''
                return;
            }
            const data = await responce.json()
            console.log(data.length)


            innerHypertext = ''
            for (let i = 0; i < data.length; i++)
            {
                where_to_find = data[i].where_to_find==""?"не экспонируется":data[i].where_to_find
                innerHypertext += `
                <div class="search-res">
                    <div class="search-pic">
                        <img src="assets/${data[i].picture_address}" width="100%">
                    </div>
                    <div class="search-desc"> 
                        НАЗВАНИЕ: <b>${data[i].title}(${data[i].creation_year})</b><br>
                        АВТОР: <b>${data[i].author_name}</b><br>
                        МУЗЕЙ: <b><a>${data[i].museum_name}</b></a><br>
                        ГДЕ НАЙТИ: <b>${where_to_find}</b>
                    </div>
                </div>
                `
            };
            console.log(innerHypertext)
            console.log(data.length)
            node.innerHTML = innerHypertext;
        }

        async function fetch_authors() {
            var node = document.getElementById('paintings_placeholder');
            const query = document.getElementById("searchbar").value
            if(query == "")
            {
                node.innerHTML = ''
                return
            }
            const responce = await fetch(`http://localhost:8080/authors_${query}`)
            if (!responce.ok)
            {
                //check for errors later
                node.innerHTML = ''
                return;
            }
            const data = await responce.json()
            console.log(data.length)
            
            innerHypertext = ''
            for (let i = 0; i < data.length; i++)
            {
                innerHypertext += `<div>${data[i].name}(${data[i].birth_year}-${data[i].death_year})<hr></div>`
            };
            node.innerHTML = innerHypertext;
        }


        
        function logout(event)
        {
            event.preventDefault();
            // NOTE: logout here is just a 'FAKE'-logout 
            // NOTE: logout now doesn't support updating the pages etc.
            // NOTE: Only for one-page-testing purpuses
            document.getElementById("user-header").innerHTML=`
            <form id='login-form'>
            вход
                <p id="enter-status" style="color:red; height:1em;margin:0;padding: 0;"> </p>
                <input type="text" id="enter-login" value="" placeholder="Enter login..."><br>
                <input type="password" id="enter-password" value="" placeholder="Enter password..."></input><br>
                <input type="submit" value="войти">
                </form>
            `; 
        }

        
        async function sendData(event) 
        {
            event.preventDefault();
            // Construct post data
            ent_login = document.getElementById('enter-login');
            ent_password = document.getElementById('enter-password');
            data = {
                login : ent_login.value,
                password : ent_password.value,
            };
            const response = await fetch(`http://localhost:8080/login`, {
            method: "POST",
            credentials: 'include',
            body: JSON.stringify(data),
            headers: {
                "Content-type": "application/json; charset=UTF-8"
            }
            });
            const responseData = await response.json();
            if(response.status == 200)
            {
                console.log("success");
                //update to login     
                document.getElementById("user-header").innerHTML=`
                Вы авторизованы как <b>${data.login}</b><br>
                <a href="www.google.com"> посмотреть свои любимые картины</a><br>
                <input type="button" value="выйти" onclick="logout(event)">`;               
            }
            else if (response.status == 400)
            {
                document.getElementById("enter-status").innerHTML = responseData.error;
            }
            else
            {
                document.getElementById("enter-status").innerHTML = "что-то пошло не так";
            }
        }

        window.onload=init;
        async function init()
        {
            
            var form = document.getElementById('login-form');
            console.log(form)
            form.addEventListener('submit', sendData);

            //try to get my user-name and data,
            //if no username or data then just f**k it
            const responce = await fetch(`http://localhost:8080/login_info`, {credentials: 'include'})
            if (responce.ok)
            {
                /*
                const data = await responce.json()
                Вы авторизованы как <b>${data.user_name}</b><br>
                document.getElementById("user-header").innerHTML=`
                <div id="auth">
                    <div id="user-info">
                    </div>
                    <a href="www.google.com"> посмотреть свои любимые картины</a><br>
                    <input type="button" value="выйти" onclick="logout(event)">
                </div>
                `; 
                */
            }
            //console.log(document.cookie);
            document.cookie = "Auth=; expires=Thu, 01 Jan 1970 00:00:00 UTC;";
        }

        function changeMode()
        {
            searchingPaintings = !searchingPaintings;
            if(searchingPaintings)
            {
                document.getElementById("change-mode").innerHTML = `<input type="button" value="search authors instead" onclick="changeMode()">`;
                document.getElementById("searchbar").placeholder = "Find your favorite paintings..."
            }
            else
            {
                document.getElementById("change-mode").innerHTML = `<input type="button" value="search paintings instead" onclick="changeMode()">`;
                document.getElementById("searchbar").placeholder = "Find your favorite authors..."
            }
        }

    </script>
</head> 
<body>
    <h1 align="center">Where is the painting?</h1>
    <div id="user-header">
        <form id='login-form' style="display:block;">
            вход
            <p id="enter-status" style="color:red; height:1em;margin:0;padding: 0;"> </p>
            <input type="text" id="enter-login" value="" placeholder="Enter login..."><br>
            <input type="password" id="enter-password" value="" placeholder="Enter password..."></input><br>
            <input type="submit" value="войти">
        </form>
        <div id="auth" style="display:none;">
            <div id="user-info">
            </div>
            <a href="/"> посмотреть свои любимые картины</a><br>
            <input type="button" value="выйти" onclick="logout(event)">
        </div>
        <form id='signup-form' style="display:none;">
            регистрация
            <p id="signup-status" style="color:red; height:1em;margin:0;padding: 0;"> </p>
            <input type="text" id="signup-login" value="" placeholder="Enter login..."><br>
            <input type="password" id="signup-password" value="" placeholder="Enter password..."></input><br>
            <input type="submit" value="войти">
        </form>
    </div>
    <input type="text" id="searchbar" value = "" placeholder="Find your favorite painting..." oninput="search()">
    <div id="change-mode"><input type="button" value="search authors instead" onclick="changeMode()"></div>
    <div id="paintings-placeholder">
    
    </div>
</body>
</html>