<html>
    <head>
        <title>Упс...</title>
        <link rel="icon" type="image/x-icon" href="/assets/special/icon.ico">
    </head>
    <body style="background-image: url(/assets/special/unauthorized.jpg); background-size: cover; ">
        <div style="margin: 5%; padding: 5%; color: black; background-color: white; font-size: 25px; text-align: center;">
            Упс... кажется, вам сюда нельзя 0_0
            <br>
            <a href = "/">Вернуться на главную</a>
        </div>
    </body>
</html>